<!DOCTYPE html>
<html>
    <head>
    
        <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Lakki+Reddy|Londrina+Shadow|Righteous|Rye|Ultra|Fredericka+the+Great|' rel='stylesheet' type='text/css'>

    </head>
    <style>

        button {
            display: inline;
            border-radius: 100px;
            font-family: 'Cinzel', serif;
        }

        .home_button {
            float: left;
        }

    </style>
    
    <body>
        <font color="red">
            <% if flash.has?(:message) %>
                <%= flash[:message] %>
            <% end %>
        </font>
        <h1>Edit below:</h1>

        <form method="post" action="/users/<%= @current_user.id %>/edit">
            <input id="hidden" type="hidden" name="_method" value="patch">

            <p><label for="name">Name: </label>
            <input id="name" type="text" name="name" value="<%= @current_user.name%>"></p>
    
            <p><label for="email">Email: </label>
            <input id="email" type="email" name="email" value="<%= @current_user.email%>"></p>

            <%# <p><label for="password">Password: </label>
            <input id="password" type="password" name="password"></p> %>
            <input id="hidden" type="hidden" name="password">
    
            <button type="submit">Update Info</button>
    
        </form>

        <div class="home_button">           
            <form action="/users/<%= @current_user.id %>/home" method="POST"> 
                <button type="submit">Home</button>
            </form>
        </div>
    
    </body>
</html>
