<!DOCTYPE html>
<html>        
    <head>
        <title>
        </title>
      <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Lakki+Reddy|Londrina+Shadow|Righteous|Rye|Ultra|Fredericka+the+Great|' rel='stylesheet' type='text/css'>
    </head>
    <style>

    button {
       display: inline;
       border-radius: 80px;
       font-family: 'Cinzel', serif;
    }

    .home_button {
        float: left;
    }

    .logout_button {
        float: right;
    }
    
    </style>
    <body>
    
        <h1>Your Wishlist!</h1>

        
        <%@wishlists.each do |x| %>  
        <ul>          
            <li><%=x.content%></li>  
        </ul>              
        <%end%>      

        <br>

        <form action="/wishlists/<%= @user.id %>/new" method="GET">
            <p><b><button type="submit" id="submit">Make My Next Wish!</button></b></p>
        </form>

        <select id="select_wish">
            <p><option value="default" selected>Select wish</option></p>
                <%@wishlists.each do |x| %>
                <option value="<%=x.id%>"><%=x.content%></option>
                <%end%>
        </select>        

        
    
        <button onclick = "selectWish()">Edit wish</button>    

        <div class="home_button">           
            <form action="/users/<%= @user.id %>/home" method="POST"> 
                <button type="submit">Home</button>
            </form>
        </div>
        <div class="logout_button">
            <form action="/logout">
                <button type="submit">Log Out</button>
            </form>
        </div>

    <script>

        const selectWish = () => {
            let list = document.getElementById("select_wish").value
            window.location.replace(`http://localhost:9393/wishlists/${list}/edit`)
            // console.log(list)
        }
    </script>

 </body>
</html>  
